<div class="container">
    <img src="assets/images/image-product-desktop.jpg" alt="img-product-desktop" class="product-img-desktop">
    <div class="info-box-container">
        <p class="category-text">PERFUME</p>
        <h1 class="name-text">Gabrielle Essence Eau De Parfum</h1>
        <p class="description-text">Description</p>
        <div class="price-container">
            <h1 class="price-discount-text">$149.99</h1>
            <p class="price-regular-text">$169.99</p>
        </div>
        <button class="button-add-to-cart">Add to Card</button>
    </div>
</div>